*{box-sizing: border-box;}

header, main, nav, bd, footer, section, article, figure, figcaption, aside {display: block;}

body, html {
    height: 100%;
}

.bg {
    background-image: url("img/photo6.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-color: burlywood;
    font-family: Times New Roman, Arial;
    color: black;
}

header {
    color: chocolate;
    height: auto;
    text-align: center;
    padding-top: 20px;
    padding-left: 3em;
}

nav {
    font-weight: bold;
    padding:1.5em;
    font-size: 120%;
    float: left;
    width: 225px;
    height: 100%;
}
nav a {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 1em;
    padding-left: 0;
}

nav li{
    display: block;
}

nav a:link {
    color: darkslategrey;
}

nav a:hover {
    color: darkseagreen;
    transition: background-color 1s ease-out;
}

h2 {
    color: darkslategrey;
    text-shadow: 1px 1px navajowhite;
}

.ts brownies {
    color: grey;
}

h1, h2, footer {
    font-family: Times New Roman, Arial;
}

footer {
    font-size: medium;
    font-style: italic;
    text-align: center;
    padding: 20px;
    clear: both;
}

.contact {
    font-size: 60%;
}

#wrapper{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    background-color: aquamarine;
    min-width: 960px;
    max-width: 2500px;
    box-shadow: 2px 2px 2px black;
    border: 1px;
    border-color: black;
    background-image: linear-gradient(to bottom, black);
    background-repeat: repeat-x;
}

main {
    padding-top: 2em;
    padding-right: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    display: block;
    margin-left: 2px;
}

#mobile {
    display: none;
}

#desktop {
    display: inline;
}

.text {
    text-align: left;
}

label {
    display: block;
    text-align: left;
    width: 100px;}

input, textarea {
    display: block;
    margin-bottom: 15px;
}

input [type="submit"] {margin-left: 100px;}

video,embed{
    float: left;
    padding-left: 10px;
    padding-bottom: 10px;
    border: black ;
}
#gallery {
    position: relative;
    height: 400px;
}

#gallery ul {
    width: 300px;
    list-style-type: none;
}

#gallery li{
    display: inline;
    float: left;
    padding: 5px;
}

#gallery img {
    border-style: none;
}

#gallery span {
    position: absolute;
    left: -1000px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#gallery a:hover span{
    position: absolute;
    top: 10px;
    left: 300px;
    text-align: justify;
    opacity: 1;
}

figure {
    position: absolute;
    left: 280px;
    text-align: center;
    opacity: 1;
}

.container {
    position: relative;
    min-height: 600px;
}

.col-25 {
    -ms-flex: 25%;
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%;
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%;
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.btn:hover {
    background-color: #45a049;
}

span.price {
    float: right;
    color: grey;
}

.shopping-cart {
    width: 750px;
    height: 423px;
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;

    display: flex;
    flex-direction: column;
}

.title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
}

.item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
}

.item:nth-child(3) {
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
}

.buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
}
.delete-btn,
.like-btn {
    display: inline-block;
    Cursor: pointer;
}
.delete-btn {
    width: 18px;
    height: 17px;

}

.like-btn {
    position: absolute;
    top: 9px;
    left: 15px;
    width: 60px;
    height: 60px;
    background-size: 2900%;
}
.is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
}

@keyframes animate {
    0%   { background-position: left;  }
    50%  { background-position: right; }
    100% { background-position: right; }
}

.image {
    margin-right: 50px;
}

Let’s add some basic style to  product name and description.
.description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
}

.description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
}

.description span:first-child {
    margin-bottom: 5px;
}
.description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
}
.quantity {
    padding-top: 20px;
    margin-right: 60px;
}
.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.minus-btn img {
    margin-bottom: 3px;
}
.plus-btn img {
    margin-top: 2px;
}

button:focus,
input:focus {
    outline:0;
}
.total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}
@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }
    .col-25 {
        margin-bottom: 20px;
    }
}
@media (max-width: 800px) {
    .shopping-cart {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .item {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .image img {
        width: 50%;
    }
    .image,
    .quantity,
    .description {
        width: 100%;
        text-align: center;
        margin: 6px 0;
    }
    .buttons {
        margin-right: 20px;
    }
}

/* Tablet Display */
@media only screen and (max-width: 64em){
    body {
        margin: 0;
        background-color: burlywood;
    }

    #wrapper {
        min-width: 0;
        width: auto;
        box-shadow: none;
        border: none;
    }

    header {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 0;
        height: auto;
    }

    h1 {
        letter-spacing: 0.1em;
    }

    main {
        margin-left: 0;
    }

    nav {
        float: none;
        width: auto;
        text-align: center;
        padding: 0.5em;
    }

    nav li {
        display: inline;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        padding-left: 0.75em;
        padding-right: 0.75em;
    }

    footer {
        margin-left: 0;
    }
}
/* Smartphone Display */
@media only screen and (max-width: 37.5em) {
    main {
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 90%;
    }

    h1 {
        font-size: 2em;
    }

    nav {
        padding: 0;
    }

    nav li {
        display: block;
        margin: 0;
        border: 2px solid #330000;
    }

    nav a {
        display: block;
    }
    #mobile {
        display: inline;
    }

    #desktop {
        display: none;
    }
}
@media (max-width: 800px) {
    .shopping-cart {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .item {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .image img {
        width: 50%;
    }
    .image,
    .quantity,
    .description {
        width: 100%;
        text-align: center;
        margin: 6px 0;
    }
    .buttons {
        margin-right: 20px;
    }
}

